.TitleList {
  /* margin-bottom: 15px; */
  padding: 10px;
  text-align: center;
  background-color: rgba(46, 67, 68, 0.123);
  border-radius: 3px;
}

.TitleList:not(:last-child) {
  border-bottom: 1px solid rgb(13, 54, 59);
}

.TitleList p {
  margin: 5px;
  padding: 0;
}

.List {
  list-style: none;
  margin: 10;
  padding: 0;
}
