.container {
  width: 400px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border: 1px solid rgba(42, 112, 97, 0.253);
  border-radius: 2px;
}

.mainTitle {
  margin: 20px auto 30px;
  padding: 0;
  font-size: 30px;
  font-weight: 100;
  color: rgb(13, 45, 46);
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.button {
  width: 80px;
  padding: 3px;
  color: rgb(13, 54, 59);
  background-color: rgba(0, 225, 255, 0.151);
  outline: none;
  border: 0.5px solid rgba(7, 76, 85, 0.247);
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.TitleList {
  margin-bottom: 15px;
  padding: 2px;
  text-align: center;
  background-color: rgba(46, 67, 68, 0.432);
  border-radius: 3px;
}

.TitleList p {
  margin: 5px;
  padding: 0;
}

.List {
  list-style: none;
  margin: 10;
  padding: 0;
}

.message {
  margin: 40px auto;
  font-size: 20px;
  color: rgba(255, 0, 140, 0.527);
}
